@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
}
.image img {
  width: 100%;
}
.title {
  padding: 10px 15px;
}
.title p {
  font-size: 20px;
  font-weight: 800;
}
.score-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.score-display,
.score-suggest,
.score-select {
  padding-left: 15px;
}
.score-display {
  font-size: 48px;
  font-weight: 800;
  padding-top: 15px;
}
.score-suggest {
  font-size: 17px;
  font-weight: 600;
}
.score-select {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.score-select p {
  font-size: 20px;
  font-weight: 800;
}
.score-select select {
  padding: 0 5px;
  border-radius: 20px;
  width: 70px;
  height: 35px;
}
.all-buttons {
  display: flex;
}
.all-buttons button {
  color: white;
  border: none;
  padding: 12px 0px;
  border-radius: 3px;
  font-size: 18px;
}
#player-1-btn {
  background-color: #12e2a8;
  width: 35%;
}
#player-2-btn {
  background-color: #2a8bcf;
  width: 35%;
}
#reset-btn {
  background-color: #df275b;
  width: 30%;
}

/* responsive */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 65%;
    margin-top: 40px;
    box-shadow: 2px 8px 23px -5px rgba(0, 0, 0, 0.46);
  }
  .image img {
    height: 280px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 55%;
  }
  .image img {
    height: 290px;
  }
  .title p {
    font-size: 25px;
  }
  .score-display,
  .score-suggest,
  .score-select,
  .title {
    padding-left: 30px;
  }
  .score-display {
    font-size: 53px;
    padding-top: 10px;
  }
  .score-suggest {
    font-size: 20px;
  }
  .score-select p {
    font-size: 25px;
  }
  .score-select select {
    width: 80px;
  }
  .all-buttons button {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 40%;
  }
  .score-display,
  .score-suggest,
  .score-select,
  .title {
    padding-left: 25px;
  }
  .all-buttons button {
    font-size: 22px;
  }
  .title p {
    font-size: 28px;
  }
  .score-display {
    font-size: 57px;
  }
  .score-suggest {
    font-size: 24px;
  }
  .score-select p {
    font-size: 28px;
  }
  .score-select select {
    width: 88px;
    height: 42px;
  }
  .all-buttons button {
    font-size: 20px;
  }
}
